.landingpage{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.comment-container{
    min-width: 40rem;
    min-height: 30rem;
    display: flex;
    justify-content: flex-start;
}
.comment-container{
    display: flex;
    flex-direction: column;
}
.logout{
    position: absolute;
    top: 2%;
    right: 2%;
    width: 7rem;
    height: 3rem;
    background-color: rgb(245, 72, 72);
    border: none;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}
.logout:hover{
    transform: scale(1.1);
}